@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto');
html, body{
	color: rgb(0, 0, 0, 0.8);
	margin: auto;
	padding: 0;
	width: 80%;
	font-family: "Roboto Mono", "Roboto", consolas, "Lucida conosole", Monaco, "monospace";
}

h1, h2, h3, h4, h5, h6, p, section, footer, div{
	margin: 0px;
	padding: 0px;
}

.name{
	display: inline-block;
	font-size: 58px;
	letter-spacing: 4px;
	padding-top: 0px; 
	padding-right: 8px; 
	border-right: 16px solid rgba(128, 128, 128, 0.4); 
	margin: 8px 0px 16px 0px;
}


.flex-container{
	display: flex;
}

.card-about-me{
/*   width: 301px; */
	width: calc(100% * 1/3 - 16px);
	margin: 36px 16px;
}

.card-about-me > h2{
	margin: 8px 0px;
	height: 72px;
	padding: 8px 0px;
/* 	background: red; */
}

.card-about-me > p {
/* 	height: calc(210px-106px); */
	height: 148px;
/* 	background-color: red; */
}

hr{
	background-color: rgba(128, 128, 128, 0.08);
	color: rgba(128, 128, 128, 0.08);
/* 	height: 1px; */
}

p, li, ul{
	font-size: 20px;
}
 
h1{
	font-size: 36px;
}

section, footer{
	margin: 36px 0px;
}

.section-about-me{
  text-align: center;
	height: 210px;
}

h2{
	font-size: 28px;
}

.overview{
	margin: 16px 0px 0px 0px;
}

.challenge-description{
	margin: 16px 0px;
}

ol{
	list-style-type: none;
	margin: 48px 0px;
}

.blog-card{
/* 	margin: 16px 0px; */
	padding: 8px 16px;
}
.blog-card:hover, .blog-card > a:hover, .blog-card > p:hover, .blog-card > h2:hover, .blog-card:focus, .blog-card > a:focus, .blog-card > p:focus, .blog-card > h2:focus{
	background-color: rgba(0, 0, 0, 0.02);
	border-radius: 2px;
}
.blog-card > a{
	text-decoration: none;
	color: black;
	margin: 16px 0px;
}

a:hover{
	background-color: rgba(0, 0, 0, 0.05)
}
#blogs > h1{
	margin: 0px 0px 36px 0px;
	letter-spacing: 0px;
}
a:hover, a:active, a:link{
/* 	background-color: rgba(0, 0, 0, 0.9);  */
/* 	color: red; */
}

.blog-card > p{
	letter-spacing: -2px;
}

footer{
	margin-bottom: 4px;
	text-align: center;
}

.checked{
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	padding: 4px;
	color: white;
	font-weight: 900;
}