@import url('https://fonts.googleapis.com/css?family=Roboto|Mukta+Mahee');
/* ---- global css ----- */
html{
	/* background-color: lightblue; */
	font-family: 'Roboto';
	margin: 0px;
}

body{
	display: block;
	text-align: left;
	/* background: #f7658542; */
	width: 70%;
	margin: 0px auto;
	padding: 0px;
	/* padding: 16px */
}

.block-center{
	 display: block;
	text-align: center;
}


hr{
	/* height: 10px; */
	background-color: red;
}
.section, section, footer{
	padding: 0px 24px;
	margin: 0px;
	/* background-color: hotpink; */
}

h1, h2, h3, h4, h5, h6, p, div{
	margin: 0px;
	padding: 0px;
}

/* declare some sizes*/
/* ---square sizes ---- */
/* section specific css */

.center-all{
	text-align: center;
}


.image-about-me{
	width: 64px;
	height: 64px;
	/* margin: 0px 50%; */
	/* transform: translateX(-50%); */
}

.flex-container{
	display: flex;
}